#carousel {
  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i');
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,700');
  * {
    padding: 0;
    margin: 0;
  }
  html, body {
    width: 100%;
    height: 100%;
  }
  #modal {
    z-index: 2;
    position: absolute;
    top: inherit;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #zoom-view { cursor: -webkit-grab; cursor:-moz-grab; }
  #zoom-view:active { cursor: -webkit-grabbing; cursor:-moz-grabbing; }
  #window {
    z-index: 3;
    width: 69%;
    height: 89%;
    padding: 20px 3px;
    background-color: white;
    position: relative;
  }
  #close-modal {
    z-index: 4;
    position: absolute;
    cursor: pointer;
    top: 22px;
    right: 21px;
    font-family: 'Roboto';
    font-size: 19pt;
  }
  .thumbnails {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 8px;
  }
  #thumbs {
    position: sticky;
    position: -webkit-sticky;
    top: 155px;
    z-index: 1;
  }
  .thumbnails > a {
    opacity: 0.4;
    transition: 0.2s;
    padding: 6px 27px;
  }
  .thumbnails > a:first-of-type {
    opacity: 1;
  }
  #image-carousel {
    overflow: hidden;
    width: 645px;
    margin-top: 4px;
  }
  #image-carousel > img {
    padding-bottom: 30px;
    outline: none;
    cursor: url('https://www.dropbox.com/s/o5xxnbz2l8j4g6q/zoom-icon.png?raw=1');
  }
  .breadcrumb-trail {
    font-family: 'Josefin Sans', Helvetica;
    font-size: 12pt;
    font-weight: 300;
    height: 108px;
    margin-left: 8px;
    padding: 10px 26px;
    padding-bottom: 26px;
    list-style-type: none;
    display: flex;
    align-items: flex-end;
  }
  .breadcrumb-trail > li {
    padding: 0 3px;
  }
  .breadcrumb-trail > li:first-of-type {
    padding-left: 0;
  }
  .breadcrumb-trail a {
    text-decoration: none;
    color: black;
  }
}
